body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
    color: inherit;

    &[class] {
        text-decoration: none;
    }
}